.card-container {
     display: flex;
     flex-direction: column;
     background-color: #333333;
     border: 1.5px solid #000000;
     color: #B8B8B8;
     border-radius: 10px;
     padding: 25px;
     cursor: pointer;
     -mox-osx-font-smoothing: grayscale;
     backface-visibility: hidden;
     transform: translateZ(0);
     transition: transform 0.25s ease-out;
}

.card-container:hover {
     transform: scale(1.05);
}